<div class="register background-tint">
  <br>
  <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-3">
      <h1 class="header-style">Meow Time</h1>
    </div>
  </div>
  <br>
  <br>
  <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-2 border register-form">

      <div id="clearance" class="sign-in special-fonts">
        <h2><%= ("Log In") %></h2>
        <%= render partial: '/sessions/form' %>
      </div>
    </div>
    <div class="col-md-5">
    </div>
   
  </div>
  <br>
  <br>
  <br>
  
  <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-2 border register-form">
      <div id="clearance" class="sign-up special-fonts">
        <h2><%= ("Register") %></h2>
        

          <%= form_for @user, html: { class: "form-horizontal special-fonts" }  do |form| %>
            <%= render partial: '/users/form', object: form %>
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <%= form.submit class: "btn btn-default pull-right"%>
              </div>
            </div>
          <% end %>
      </div>
    </div>
  </div>

  


</div>


