</br>
</br>
<div class="container-fluid">
  <div id="logo" class="row">
    <div class="gallery col-lg-2 col-md-2 col-sm-2 col-xs-2 col-md-offset-2 col-xs-offset-2">
      <%=  image_tag "cat.png", :alt => "cat1", :class => "style_image"  %>
    </div>
  <div class="gallery-title col-lg-4 col-md-4 col-sm-4 col-xs-4">
    <%=  image_tag "app.png", :alt => "cat"  %>
    <h1 class="text-center"></h1>
  </div>
</div>
</br>
</br>
  <div class="row">
    <div class="col-md-8 col-md-offset-2 text-center">
      <a href="#logo">
      <button class="btn btn-default filter-button active" data-filter="all">All</button>
      </a>
      <a href="#Carousel_1">
        <%=  image_tag "twitter.png", :alt => "twitter", :class => "style_logo"  %>
      </a>
      <a href="#Carousel_2">
        <%=  image_tag "youtube.png", :alt => "youtube", :class => "style_logo"%>
      </a>
      <a href="#Carousel_3">
        <%=  image_tag "tumblr.png", :alt => "tumblr", :class => "style_logo"  %>
      </a>
    </div>
  </div>

</br>
</br>
</br>
</br>
</br>


  <!-- begin of carroussel -->
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div id="Carousel_1" class="carousel slide">

        <ol class="carousel-indicators">
            <li data-target="#Carousel_1" data-slide-to="0" class="active"></li>
            <li data-target="#Carousel_1" data-slide-to="1"></li>
            <li data-target="#Carousel_1" data-slide-to="2"></li>
        </ol>

        <!-- Carousel items -->
        <div class="carousel-inner twitter">

          <div class="item active">
            <div class="row" >
            <% $twitter_client.search("cat filter:media ", result_type: "popular", lang: "en").take(8).each.with_index do |tweet, index| %>
              <% if (index + 1) > 3 && (index % 3) == 0 %>
            </div>
          </div>
          <div class="item">
            <div class="row" >
              <% end %>
                <div class="col-md-4 twitter-box">
                  <div class="col-md-4 col-xs-4">
                    <%= image_tag tweet.user.profile_image_uri, class: "twitter-image" %>
                  </div>
                  <div class="col-md-6 col-xs-6 text-left">
                    <p class="twitter-tittle">
                      <%= tweet.user.name %>
                    </p>
                  </div>
                  <div class="col-md-12 col-xs-12">
                    <%= tweet.text %>
                  </div>
                </div>
            <% end %>
            </div>
          </div>

        </div><!--.carousel-inner-->
        <a data-slide="prev" href="#Carousel_1" class="left carousel-control">‹</a>
        <a data-slide="next" href="#Carousel_1" class="right carousel-control">›</a>
      </div><!--.Carousel-->
    </div>
  </div>
    <!-- end of carroussel -->

  </br>
  </br>
  </br>
  </br>
  </br>

    <!-- begin of carroussel -->
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div id="Carousel_2" class="carousel slide">

          <ol class="carousel-indicators">
            <li data-target="#Carousel_1" data-slide-to="0" class="active"></li>
            <li data-target="#Carousel_1" data-slide-to="1"></li>
            <li data-target="#Carousel_1" data-slide-to="2"></li>
          </ol>

          <!-- Carousel items -->
          <div class="carousel-inner youtube">
            <!-- <div class="item active"> -->
              <!-- <div class="row" id="carousel-row"> -->
              <% if @search_results %>
                <% @search_results.each.with_index do |result, index| %>
                  <% case result.id.kind %>
                  <% when 'youtube#video' %>
                   <div class="item <%= "active" if index == 0 %>">
                      <div class="row" id="carousel-row">
                    <h4><%= result.snippet.title %></h4>
                    <iframe width="640" height="350" src="https://youtube.com/embed/<%= result.id.videoId %>" allowfullscreen="allowfullscreen"></iframe>
                      </div>
                    </div>
                  <% when 'youtube#channel' %>
                    <p><%= result.snippet.title %> <%= result.id.channelId %></p>
                  <% when 'youtube#playlist' %>
                    <p><%= result.snippet.title %> <%= result.id.playlistId %></p>
                  <% end %>
                <% end %>
              <% end %>
          </div><!--.carousel-inner-->
          <a data-slide="prev" href="#Carousel_2" class="left carousel-control">‹</a>
          <a data-slide="next" href="#Carousel_2" class="right carousel-control ">›</a>
        </div><!--.Carousel-->
      </div>
    </div>
      <!-- end of carroussel -->
    </br>
    </br>
    </br>
    </br>
    </br>


      <!-- begin of carroussel -->
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <div id="Carousel_3" class="carousel slide">


            <!-- Carousel items -->
            <div class="carousel-inner tumblr">

                    <div class="item active">
                      <div class="row" id="carousel-row">
                        <% client = Tumblr::Client.new %>

                        <% x = client.tagged "cat" %>
                        <% y = [] %>
                        <% x[0..8].each do |item| %>
                          <% if item["photos"] != nil %>
                            <% y << item %>
                          <% end %>
                        <% end %>

                        <% y[0..8].each.with_index do |post, index| %>
                            <% if (index + 1) > 3 && (index % 3) == 0 %>
                      </div>
                    </div>

                    <div class="item">
                          <div class="row" id="carousel-row">
                            <% end %>
                            <div class="col-md-4">
                            <% if post.keys.include?("photos") %>
                              <img src="<%= post['photos'][0]['alt_sizes'].find { |photo| photo['width'] < 1000 }['url'] %>" class="tumblr_images"><br>
                            <% end %>

                            <div target>
                            <u><%= post["blog_name"] %></u>
                              <% if /[^\x00-\x7F]+/.match(post["caption"]) == nil %>
                                <%= raw post['caption'] %>
                              <% end %>
                            </div>

                            </div>
                        <% end %>
                      </div>
                    </div>

            </div><!--.carousel-inner-->
            <a data-slide="prev" href="#Carousel_3" class="left carousel-control">‹</a>
            <a data-slide="next" href="#Carousel_3" class="right carousel-control">›</a>
        </div><!--.Carousel-->
      </div>

      <div class="row">
         <div class="col-md-10 col-md-offset-1">
                <ol class="carousel-indicators">
                  <li data-target="#Carousel_3" data-slide-to="0" class="active"></li>
                  <li data-target="#Carousel_3" data-slide-to="1"></li>
                  <li data-target="#Carousel_3" data-slide-to="2"></li>
               </ol>
         </div>
      </div>
</div>
        <!-- end of carroussel -->
  </br>
  </br>
  </br>
</div>
