<%= link_to 'Twitter page', twitter_show_path %>

<% if signed_in? %>

<!-- dashboard -->

<%= form_tag root_path, method: :get do |f| %>
	<%= label_tag :search_term, "Type a keyword" %>
	<%= text_field_tag :search_term %>
<% end %>

<% if @search_results %>
	<% @search_results.each do |result| %>
		<% case result.id.kind %>
	  <% when 'youtube#video' %>
			<p><%= result.snippet.title %> <%= result.id.videoId %></p>
			<iframe width="640" height="350" src="https://youtube.com/embed/<%= result.id.videoId %>" allowfullscreen="allowfullscreen"></iframe>
    <% when 'youtube#channel' %>
			<p><%= result.snippet.title %> <%= result.id.channelId %></p>
		<% when 'youtube#playlist' %>
			<p><%= result.snippet.title %> <%= result.id.playlistId %></p>
	  <% end %>
	<% end %>
<% end %>

<% else %>
	<center>
		<h1>welcome to meow app</h1>
		<h3>where your one stop social entertainment</h3>
	<center>

	<div class="welcome-page">
      	<%= link_to "Sign in", sign_in_path, class: "btn btn-primary" %>
      	<%= link_to t(".sign_up"), sign_up_path, class: "btn btn-primary" %>
    </div> 
<% end %>