<!DOCTYPE html>
<html>
  <head>
    <title>Meow</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
     <!-- Load the Client component. -->
    <!-- <script src="https://js.braintreegateway.com/web/3.11.1/js/client.min.js"></script> -->
      <!-- Load the Hosted Fields component. -->
    <!-- <script src="https://js.braintreegateway.com/web/3.11.1/js/hosted-fields.min.js"></script> -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


	<body class="body" id="welcome-jumbo" style="
    overflow-x: hidden !important; max-width: 100% !important;">
   	<div>
      <section>
        <div id="flash">
          <% flash.each do |key, value| %>
          <div class="flash <%= key %>"><%= value %></div>
            <% end %>
        </div>
      </section>
      	
      	<%= yield %>
      	<%= render "shared/footer" %>
  	</div>
  </body>

</html>
