<!DOCTYPE html>
<html>
  <head>
    <title>Meow</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
     <!-- Load the Client component. -->
    <script src="https://js.braintreegateway.com/web/3.11.1/js/client.min.js"></script>
      <!-- Load the Hosted Fields component. -->
    <script src="https://js.braintreegateway.com/web/3.11.1/js/hosted-fields.min.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Raleway|Roboto:300i,400" rel="stylesheet">

  </head>

	<body>


	    <div id="flash">
	      <% flash.each do |key, value| %>
	    <div class="flash <%= key %>"><%= value %></div>
	      <% end %>
	    </div>
      <%= yield %>
	 </body>
        	
</html>
